# Note: STONITH must be enabled for proper functionality!
property cib-bootstrap-options: \
    stonith-enabled=false \
    placement-strategy=balanced

op_defaults op-options: \
    timeout=600 \
    record-pending=true

rsc_defaults rsc-options: \
    resource-stickiness=1 \
    migration-threshold=3
