*.pyc
*~
#*.*#
.#*
doc/website-v1/gen
Makefile.in
autom4te.cache
patches/*

# Tool specific files
.README.md.html
.*.*~
.project
.settings
.pydevproject

contrib/build/
contrib/dist/
contrib/pygments_crmsh_lexers.egg-info/

.tox/
