driftfile /var/lib/ntp/drift/ntp.drift

logfile   /var/log/ntp

server {{ ntpserver }}

#
# Authentication stuff
#
keys /etc/ntp.keys		# path for keys file
trustedkey 1			# define trusted keys
requestkey 1			# key (7) for accessing server variables
# controlkey 15			# key (6) for accessing server variables
